{% extends 'layout.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Product</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{personne.firstName}}</h6>
    <p class="card-text"> {{personne.lastName}} </p>
    <p class="card-text"> {{personne.age}} </p>
  </div>
</div>


{% endblock %}

